input {
  http_poller {
    urls => {
      prometheus_metrics => {
        method => get
        url => "{{ pvc_query }}"
        headers => {
          Accept => "application/json"
        }
      }
    }
    request_timeout => 60
    schedule => { every => "{{ query_interval }}" }
    codec => "json"
    metadata_target => "http_poller_metadata"
  }
}

filter {
  split {
    field => "[data][result]"
  }

  mutate {
    add_field => {
      "NHcenter" => "%{[data][result][metric][NHcenter]}"
      "NHcluster" => "%{[data][result][metric][NHcluster]}"
      "node" => "%{[data][result][metric][node]}"
      "metric" => "%{[data][result][metric][__name__]}"
      "persistentvolumeclaim" => "%{[data][result][metric][persistentvolumeclaim]}"
      "namespace" => "%{[data][result][metric][namespace]}"
      "pvc_usage" => "%{[data][result][value][1]}"
    }
    remove_field => ["data", "http_poller_metadata"]
    remove_field => ["event"]
  }

  if [pvc_usage] {
    mutate {
      convert => { "pvc_usage" => "float" }
    }
    ruby {
      code => 'event.set("pvc_usage", event.get("pvc_usage").to_i)' 
    }

    if [pvc_usage] > {{ pvc_critical_limit }} {
      mutate {
        add_field => { 
          "nhalert" => "Critical" 
        }
      }
    } else if [pvc_usage] > {{ pvc_warning_limit }} {
      mutate {
        add_field => { 
          "nhalert" => "Warning" 
        }
      }
    } else if [pvc_usage] <= {{ pvc_warning_limit }} {
      mutate {
        add_field => { 
          "nhalert" => "Info" 
        }
      }
    }
  } 
  if [pvc_usage] {
    mutate {
      add_field => { 
        "message" => "%{@timestamp}, %{nhalert}, Center: %{NHcenter}, Cluster: %{NHcluster}, Node: %{node}, Namespace: %{namespace}, PVC: %{persistentvolumeclaim}, PVCUsage: %{pvc_usage}%" 
      }
    }
  }
}
output {
  if [nhalert] in ["Critical", "Warning"] {
    elasticsearch {
      hosts => ["{{ es_url }}"]
      index => "{{ alert_index }}"
    }
    file {
      path => "/var/log/prometheus_metrics_to_sms_agent.log"
      codec => line { format => "%{message}" }
    }
  }
}
