input {
  http_poller {
    urls => {
      prometheus_failed_pods => {
        method => get
        url => '{{ pod_state_query }}'
        headers => {
          Accept => "application/json"
        }
      }
    }
    request_timeout => 60
    schedule => { every => "{{ query_interval }}" }
    codec => "json"
    metadata_target => "http_poller_metadata"
  }
}

filter {
  split {
    field => "[data][result]"
  }

  mutate {
    add_field => {
      "NHcenter" => "%{[data][result][metric][NHcenter]}"
      "NHcluster" => "%{[data][result][metric][NHcluster]}"
      "metric" => "%{[data][result][metric][__name__]}"
      "namespace" => "%{[data][result][metric][namespace]}"
      "pod" => "%{[data][result][metric][pod]}"
      "pod_fail_status" => "%{[data][result][value][1]}"
    }
    remove_field => ["data", "http_poller_metadata"]
    remove_field => ["event"]
  }

  if [pod_fail_status] == "1" {
    mutate {
      add_field => {
        "nhalert" => "Warning"
        "message" => "%{@timestamp}, %{nhalert}, Center: %{NHcenter}, Cluster: %{NHcluster}, Namespace: %{namespace}, Pod: %{pod}, Status: Failed"
      }
    }
  } else {
    drop { }
  }
}
output {
  if [nhalert] in ["Critical", "Warning"] {
    elasticsearch {
      hosts => ["{{ es_url }}"]
      index => "{{ alert_index }}"
    }
    file {
      path => "{{ sms_agent_log_path }}"
      codec => line { format => "%{message}" }
    }
  }
}
