- pipeline.id: cpu-metrics
  path.config: "/usr/share/logstash/pipeline/logstash-cpu.conf"
- pipeline.id: memory-metrics
  path.config: "/usr/share/logstash/pipeline/logstash-memory.conf"
- pipeline.id: pvc-metrics
  path.config: "/usr/share/logstash/pipeline/logstash-pvc.conf"
- pipeline.id: pod-status-metrics
  path.config: "/usr/share/logstash/pipeline/logstash-pod-status.conf"
