[ req ]
default_bits       = 2048
default_md         = sha256
default_keyfile    = ca.key
distinguished_name = req_distinguished_name
req_extensions     = req_ext
x509_extensions    = v3_ca # The extentions to add to the self signed cert

[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = KR
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = Seoul
localityName                = Locality Name (eg, city)
localityName_default        = Seoul
organizationName            = Organization Name (eg, company)
organizationName_default    = NH
commonName                  = Common Name (eg, YOUR name)
commonName_default          = rancher.test.dom

[ req_ext ]
subjectAltName = @alt_names

[ v3_ca ]
subjectAltName = @alt_names
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth

[ alt_names ]
DNS.1   = rancher.test.dom
IP.1    = 172.31.42.33
IP.2    = 172.31.39.6
IP.3    = 172.31.45.41
